version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.6-rc
    steps:
      - run: df
      - run: mkdir -p workspace
      - run: echo "Testing Workspaces" > workspace/echo-output
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory
          root: workspace
          # Must be relative path from root
          paths:
            - echo-output    
